<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Agensi Biro Usaha</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'abu.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<div class="container">
	<div class="row-md-5 mb-4">
		<nav class="navbar fixed-top navbar-expand-md">
			<a class="navbar-brand" href="{% url 'home' %}">Agensi Biro Usaha</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-item">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu-item">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{% url 'artikel' %}" class="nav-link">ARTIKEL</a>
					</li>
					<li class="nav-item">
						{% if user.is_superuser %}
						<a href="{% url 'list_konsul' %}" class="nav-link">KONSULTASI</a>
						{% else %}
						<a href="{% url 'konsultasi' %}" class="nav-link">KONSULTASI</a>
						{% endif %}
					</li>
					{% if user.is_authenticated and user.is_superuser %}
					<li class="nav-item">
						<a href="{% url 'anggota' %}" class="nav-link">ANGGOTA</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'usaha' %}" class="nav-link">USAHA</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'laporan' %}" class="nav-link">LAPORAN</a>
					</li>
					{% elif user.is_authenticated and not user.is_superuser and not user.is_staff %}
					<li class="nav-item">
						<a href="{% url 'isi_laporan' %}" class="nav-link">LAPORAN</a>
					</li>
					{% endif %}
				</ul>
				{% if not user.is_authenticated %}
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<button class="btn btn-success navbar-btn" onclick="location.href='{% url 'sign_in' %}'">SIGN IN</button>
					</li>
				</ul>
				{% elif user.is_authenticated and user.is_superuser %}
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">{{ user.username }}</a>
					</li>
					<li class="nav-item">
						<button class="btn btn-success navbar-btn" onclick="location.href='{% url 'logout' %}'">LOGOUT</button>
					</li>
				</ul>
				{% else %}
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="{% url 'profil' user.id %}" class="nav-link">{{ user.username }}</a>
					</li>
					<li class="nav-item">
						<button class="btn btn-success navbar-btn" onclick="location.href='{% url 'logout' %}'">LOGOUT</button>
					</li>
				</ul>
				{% endif %}
			</div>
		</nav>
	</div>
</div>
{% block content %}{% endblock %}
<div class="container-fluid base-footer d-print-none">
	<div class="row">
		<div class="col flex-column footer-content">
			<b>Address</b>
			1234 Street Name<br>
			City, AA 999999
		</div>
		<div class="col flex-column footer-content">
			<b>Contacts</b>
			Email:&nbsp support@abu.com<br>
			Phone:&nbsp +62(8) 000 0000 001<br>
			Fax:&nbsp +62(8) 000 0000 002
		</div>
		<div class="col flex-column footer-content">
			<b>Links</b>
			<a href="{% url 'artikel' %}">Artikel</a>
			<a href="{% url 'konsultasi' %}">Konsultasi</a>
		</div>
	</div>
	<div class="row copyright">
		<br>Copyright 2019 - All Rights Reserved
	</div>
</div>
</body>
</head>
</html>