{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid px-0 form-container flex-row">
	<div class="col-md-8 form">
		<div class="container">
			<h2>Edit Profil</h2>
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
					{{ profil.nama_depan|as_crispy_field }}
				</div>
				<div class="form-group">
					{{ profil.nama_belakang|as_crispy_field }}
				</div>
				<div class="form-group">
					{{ profil.jenis_kelamin|as_crispy_field }}
				</div>
				<div class="form-group">
					{{ profil.nomor_ktp|as_crispy_field }}
				</div>
				<div class="form-group">
					{{ profil.alamat|as_crispy_field }}
				</div>
				<button type="submit" class="btn btn-primary btn-block">Kirim Perubahan</button><br>
			</form>
		</div>
	</div>
</div>
{% endblock %}