{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="container-fluid px-0 d-flex flex-row anggota justify-content-center" style="padding-top: 48px;">
	<div class="col-md-10">
		<h2>Laporan</h2><br>
		<table class="table table-bordered">
			<thead style="background-color: black; color: white;">
				<tr>
					<th class="d-print-none">Aksi</th>
					<th>Kode Usaha</th>
					<th>Jenis Laporan</th>
					<th>Bulan ke-</th>
					<th>Tahun</th>
					<th>Keterangan</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody style="background-color: white; color: black;">
				{% for i in laporan %}
				<tr>
					<td class="d-print-none">
						{% if i.status == "Belum Diverifikasi" %}
						<a href="{% url 'laporan_verifikasi' i.id %}">Verifikasi</a><br>
						{% endif %}
						<a href="{% url 'laporan_hapus' i.id %}">Hapus</a>
					</td>
					<td>{{ i.kode_usaha }}</td>
					<td>{{ i.jenis_laporan }}</td>
					<td>{{ i.bulan }}</td>
					<td>{{ i.tahun }}</td>
					<td>Rp.&nbsp{{ i.keterangan|intcomma }}</td>
					<td>{{ i.status }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-end d-print-none">
			<button class="btn btn-primary" onclick="window.print()">Cetak</button>
		</div>
		<br>
	</div>
</div>
{% endblock %}	